<ion-header class="ion-no-border">
  <ion-toolbar color="--ion-color-primary1">
    <ion-title>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <ion-card class="ion-no-margin">
    <ion-card-header>
    <ion-card-title>
      Forgot Password
    </ion-card-title>
    <ion-card-subtitle>Enter your Email to reset your Password</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input name="names" type="text" placeholder="Enter Email">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-input>
    </ion-item>
  </ion-card-content>


  <div class="reset-btn-wrap">
    <ion-button shape="round" fill="solid" class="reset-btn">Send Reset Link</ion-button>
  </div>
