ion-content{
  --ion-background-color:transparent;

}
.bg-color{
  background: #E1EAF9;;
}
ion-header{
  position:absolute;
}

ion-card{
  --ion-background-color:transparent;
  box-shadow: none !important;

}
ion-card-title{
  margin-top: 100px;
  font-size: 25px;
  color: #222324;
  text-align: center;
  font-weight: bolder;
}
ion-card-subtitle{
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
  color: #616366;
  font-weight: bold;
  text-transform: none;

}

ion-item{

  --border-color:#D4D7DB;
  --highlight-color-focused:#215AB7;
    display: flex;
    margin-top: 45%;

  ion-icon{
    padding-right: 10px;
    font-size: 23px;
  }
  ion-input{
    font-size: 23px;
  }

}

ion-input:hover{
  color: #215AB7;
}

.reset-btn-wrap{
  text-align: center;
  padding-top: 30px;


  .reset-btn{
    --ion-primary-color:#215AB7;
    --background-activated:#E1EAF9;
    --bacground-focused:#E1EAF9;
    --background-hover:#647890;
    text-align: center;
      color: #fff;
      width: 150px;
  }
}
